.ui-helper-hidden-accessible {
	display: none;
}

.scroll{
  overflow-y: scroll;
  height: 300px;
}
#scroll-inner{
  height: 600px;
}

table {
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  text-align: center;
  padding: 0.5625rem 0.625rem;
  border-collapse:collapse;		/*セル同士の間に隙間を空けない*/
}

table.top {
/*  margin-top:530px;*/
}

table.top_big {
/*  margin-top:600px;*/
}

tbody.login {
    background-color: #FFFFCC;
}

body {
    background-color: #E6FFFF;
    /*
      background-color: #E6FFFF; #FFEEFF
    */
}

tr.parents {
  background-color: #f0e68c;
/*
  background-color: #f0e68c; #ffdab9
*/
}

tr.children {
    background-color: #FFFFCC;
    /*
    background-color: #FFFFCC; #ffe4e1
    */
}

table.white {
    background-color: white;
}

table.form {
  background-color: #FFFFCC;
}

input[type="password"] {
  width: 80%;
}

td.login {
  border: 1px solid black;
  height: 40px;
}

.hesdermenu{
  text-align: left;
  position: fixed; top: 10px; left:0%;
  z-index: 10;
/*  background-color: #afeeee;*/
  width: 100%;
}

td {
  border: 1px solid black;
  height: 40px;
}

input[type="text"] {
  width: 80%;
}

input[type="tel"] {
  width: 80%;
}